.container {
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 6px;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 10px 0;
  margin-bottom: 20px;
  flex-shrink: 0;
}

.backBtn {
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 8px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.backBtn:hover {
  color: #111;
}

.header h2 {
  margin: 0;
  font-size: var(--heading-text);
  font-weight: var(--heading-font-weight);
  color: var(--heading-color);
}

.form {
  flex: 1;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 20px 20px;
}

.form::-webkit-scrollbar {
  width: 5px;
}

.form::-webkit-scrollbar-thumb {
  background: #c7c7c7;
  border-radius: 20px;
}

.form::-webkit-scrollbar-track {
  background: transparent;
}


.sectionTitle {
  grid-column: 1 / -1;
  width: 100%;
  background: #f3f4f6;
  color: #374151;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 16px;
  border: 1px solid #e5e7eb;
  border-radius: 1px;
  margin-bottom: 20px;
  box-sizing: border-box;

  margin-left: -20px;
  margin-right: -20px;
  width: calc(100% + 40px);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 16px;
  margin-bottom: 24px;
}

.field {
  display: flex;
  flex-direction: column;
}

.field label {
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 500;
  color: #555;
}

.field input,
.field select {
  height: var(--field-height);
  padding: 0 14px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  background: #fff;
  font-size: 12px;
  color: #111;
  outline: none;
  transition: all 0.2s ease;
  box-sizing: border-box;
}

.field textarea {
  width: 30%;
  min-height: 90px;
  padding: 10px 12px;
  border: 1px solid #dcdfe4;
  border-radius: 8px;
  font-size: 14px;
  resize: vertical;
  outline: none;
  font-family: inherit;
}

.field input:focus,
.field select:focus,
.field textarea:focus {
  border-color: #111111;
  background: #ffffff;
}

.full {
  grid-column: 1 / -1;
}

.buttonField {
  display: flex;
  align-items: flex-end;
}

.btn {
  width: 100%;
  padding: 9px;
  background: var(--button-bg);
  color: var(--button-text);
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.btn:hover {
  opacity: var(--hover);
}

.btn:hover {
  opacity: var(--hover);
}

.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.gstWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.gstWrapper input {
  flex: 1;
}

.gstBtn {
  height: 36px;
  padding: 0 14px;
  border: none;
  border-radius: 6px;
  background: #4c3cce;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
  transition: background 0.2s ease;
}

.gstBtn:hover {
  background: #7164d8;
}



